* {
    margin: 0%;
    padding: 0%;
}
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@media screen and (min-width: 1200px) {
    .slogan-div, .objetivo-div, .iniciar-chat, .sintesis-div {
        border-right: 2px solid rgba(0, 0, 0, 0.253);
    }
    .slogan-div {
        margin-top: 5%;
    }
    .sintesis-div , .boletin-oficial {
        margin-bottom: 5%;
    }
    .alerta-div {
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 2%;
        border-top:2px solid rgba(0, 0, 0, 0.253);
    }

}
@media screen and (max-width: 1200px) {
    .boletin-oficial {
        margin-bottom: 5%;
    }
    .carousel-t-jus-usuario, .comentarios-usuarios {
        margin: 5%;
    }
    .button-consulta {
        margin-top: 5%;
    }
    .alerta-div {
        margin: 10% 5% 10% 5%;
        border-top:2px solid rgba(0, 0, 0, 0.253);
        border-bottom:2px solid rgba(0, 0, 0, 0.253);
    }
}

    
/* INDICE

1.header-elements
2.all-sections
3.footer-config
--PAGES CONFIG--
4.index-config
5.usuario-config
6.encuesta-config
7.noticias-config
8.biblioteca-config*/


/*header-elements*/

.t-jus-header {
    background-color:rgb(37, 155, 170);
    border-bottom: 2px rgba(0, 0, 0, 0.253) solid;
}
.t-jus , .perfil-usuario , .noticias , .biblioteca  {
    font-family: 'Roboto', sans-serif;
}
.accordion-button-header {
    background-color:rgba(212, 168, 25, 0.418);
}
.accordion-body-header {
    background-color: rgb(208, 240, 222);
}


/*all-sections*/

section {
    width: 100%;
    /*background-principal-color*/
    background-color: rgb(208, 240, 222);
}
.container-fluid {
    padding-left: 7%;
    padding-right: 10%;
}

ul , li{
    list-style: none;
}

.carousel-t-jus {
    background-color: blanchedalmond;
    border-radius: 12px;
}

.login-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-t-jus-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}


/*footer-config*/

.accordion-button-footer {
    background-color:rgb(37, 155, 170)
}
.accordion-body-footer {
    background-color: rgb(208, 240, 222);
}
.footer-t-jus {
    background-color:rgb(37, 155, 170);
    justify-items: center;
}
.dudas {
    color: blanchedalmond;
    text-decoration: underline;
    font-family:'Roboto', sans-serif;
    font-size: large;
    padding-top: 15%;
}
.nosotros-div {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 7%;
    border-right: 2px solid whitesmoke;

}
.nosotros {
    color: blanchedalmond;
}
.reclamo-div {
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    border-left: 2px solid whitesmoke;
    padding-right: 2%;
    
}
.reclamo {
    color: blanchedalmond;
    text-decoration: none;
}

.dudas-1 > li, .dudas-2 > li{
    display: inline-block;
}

.dudas-1 li , .dudas-2 li, .dudas-1 li ul li , .dudas-2 li ul li{
    background-color:rgb(122, 25, 212);
    color: white;
    text-decoration:none;
    padding: 15px 30px;
    border-radius: 12px;
    display:block;
    transition: all 0.8s ease-in-out;
}

.dudas-1 li:hover , .dudas-2 li:hover, .dudas-1 li ul li:hover , .dudas-2 li ul li:hover{
    background-color: rgb(31, 31, 32);
}

.dudas-1 li:hover > ul , .dudas-2 li:hover > ul {
    display:block;
}

.dudas-1 li ul , .dudas-2 li ul{
    display:none;
    position:absolute;
}

.dudas-1 li ul li {
    position:relative;
    min-width: 350px;
}
.dudas-1 li ul li ul li{
    position:relative;
    min-width: 375px;
    right: -375px;
}
.dudas-2 li ul li {
    position:relative;
    min-width: 400px;
}


/*index-config*/

.login {
    background-color: rgb(122, 25, 212);
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
}

.iniciar-chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    display:block;
    background-color: rgb(122, 25, 212);
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
}

.chat:hover {
    background-color: #ffae00;
    color: black;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    align-self: center;
    margin: 10% 5% 10% 5%;
}

.objetivo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    align-self: center;
    margin: 0% 7.5% 5% 10%;
}

.sintesis {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    align-self: center;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 5%;

}


/*usuario-config*/

.usuario-perfil, .datos-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-usuario {
    margin: 5%;
}
.cambiar-datos-usuario {
   margin-top: 15%;
}
.comentarios-usuarios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.button-consulta {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*encuesta-config*/

.relleno-encuesta {
    margin: 0% 5% 5% 5%;
}
.login-usuario-encuesta {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan-encuesta {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    align-self: center;
    margin: 5% 5% 2% 5%;
}
.enviar-consulta-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.enviar-consulta {
    display:block;
    background-color: rgb(122, 25, 212);
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.8s ease-in-out;
}
.enviar-consulta:hover {
    background-color: #ffae00;
    color: black;
}
.alerta {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.alerta-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*noticias-config*/

.noticia-pic {
    margin: 5%;
}
.desarrollo {
    margin-left: 7%;
    margin-bottom: 5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.253);
}
.titulo-noticia {
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.link-noticia {
    text-decoration:underline;
    color:grey;
}
.link-pagina {
    margin-top: 2%;
}

/*biblioteca-config*/

.biblioteca-item {
    display: flex;
    align-items:center;
}
.biblioteca-photo:hover {
    filter: grayscale(100%);
}
.biblioteca-photo {
    border-radius: 20%;
    transition: all 0.8s ease-in-out;
}
.antecedentes-juridicos {
    margin-top: 5%;
}
.boletin-oficial {
    display: flex;
    align-items: flex-start;
}
.recursos-biblioteca {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 5%;
}
.carousel-t-jus-biblioteca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.descripcion-biblioteca-item {
    text-align: center;
    border: 5px solid blanchedalmond;
    border-radius: 7px;
}
