* {
    margin: 0%;
    padding: 0%;
}
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

/*font-family: 'Secular One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@media screen and (min-width: 1200px) {
    .sintesis-div , .boletin-oficial {
        margin-bottom: 5%;
    }
    .alerta-div {
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 2%;
    }

}
@media screen and (max-width: 1200px) {
    .boletin-oficial , .sintesis-div {
        margin-bottom: 5%;
    }
}


/*all-sections*/

.login-usuario {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 20%;
}
.container-fluid {
    padding-left: 7%;
    padding-right: 10%;
}

ul , li{
    list-style: none;
}

/*biblioteca-config*/

.biblioteca {
    border-radius: 12px;
    border: 4px solid rgba(250, 210, 110, 0.993);
    margin: 5%;
}
.biblioteca-imagenes {
    display: flex;
    justify-content: space-around;
    transition: all 0.8s ease-in-out;
    margin: 3%;
    
}
.biblioteca-icon {
    transition: all 0.8s ease-in-out;
    &:hover {
        transform:scale(1.5);
    }
}
.biblioteca-descripciones {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.biblioteca-link {
    display: flex;
    justify-content: center;
}

/*interes-space*/

.interes {
    font-family: 'Secular One', sans-serif;
    font-size: 200%;
}
.div-interes {
    display: flex;
    justify-content: space-between;
    margin:5%;
}
.interes-icon {
    margin-right: 10%;
}

/*carousel*/

.carousel-t-jus-flex {
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.carousel-div {
    padding-left: 3%;
}
.mini-noticia {
    font-family: 'Secular One', sans-serif;
    font-size: 150%;
    margin-bottom: 10%;
}

/*header-elements*/

@import "../scss/pages/header";

/*footer-config*/

@import "../scss/pages/footer";

/*index-config*/

@import "../scss/pages/index";

/*usuario-config*/

@import "../scss/pages/usuario";

/*encuesta-config*/

@import "../scss/pages/encuesta";

/*noticias-config*/

@import "../scss/pages/noticias";
