/*biblioteca-config*/

.biblioteca-item {
    display: flex;
    align-items:center;
}
.biblioteca-photo:hover {
    filter: grayscale(100%);
}
.biblioteca-photo {
    border-radius: 20%;
    transition: all 0.8s ease-in-out;
}
.antecedentes-juridicos {
    margin-top: 5%;
}
.boletin-oficial {
    display: flex;
    align-items: flex-start;
}
.recursos-biblioteca {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 5%;
}
.carousel-t-jus-biblioteca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.descripcion-biblioteca-item {
    text-align: center;
    border: 5px solid blanchedalmond;
    border-radius: 7px;
}