/*encuesta-config*/

.relleno-encuesta {
    margin: 0% 5% 5% 5%;
}
.login-usuario-encuesta , .enviar-consulta-div , .alerta-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan-encuesta {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    align-self: center;
    margin: 5% 5% 2% 5%;
}
.enviar-consulta {
    display:block;
    background-color: rgb(122, 25, 212);
    color: white;
    padding: 15px 30px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.8s ease-in-out;
}
.enviar-consulta:hover {
    background-color: #ffae00;
    color: black;
}
.alerta {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
