/*header-elements*/

.t-jus-header {
    background-color:rgb(134, 202, 211);
    border-bottom: 2px rgba(0, 0, 0, 0.253) solid;
}
.t-jus , .perfil-usuario , .noticias , .biblioteca-header  {
    font-family: 'Roboto', sans-serif;
}
.accordion-button-header {
    background-color:rgba(212, 168, 25, 0.418);
}
.accordion-body-header {
    background-color: rgb(208, 240, 222);
}