/*noticias-config*/

.noticia-pic {
    margin: 5%;
}
.desarrollo {
    margin-left: 7%;
    margin-bottom: 5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.253);
}
.titulo-noticia {
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.link-noticia {
    text-decoration:underline;
    color:grey;
}
.link-pagina {
    margin-top: 2%;
}
