/*noticias-config*/

.slogan-noticia {
    font-family: 'Secular One', sans-serif;
    font-size: 90%;
}
.noticia-pic {
    margin: 5% 5% 3% 5%;
}
.pie-imagen {
    margin-top: 3%;
    font-family: 'Secular One', sans-serif;
    font-size: 110%;
}
.desarrollo {
    margin: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}
.titulo-noticia {
    margin-bottom: 5%;
    font-family: 'Secular One', sans-serif;
}
.link-noticia {
    text-decoration:underline;
    color:grey;
}
.link-pagina {
    margin-top: 2%;
}
.section-noticia-one {
    background-color: rgb(248, 239, 226);
}
.section-noticia-two {
    background-color: rgb(160, 189, 243);
}
.section-noticia-three {
    background-color: rgba(224, 220, 220, 0.822);
}
.section-noticia-four {
    background-color: rgb(160, 189, 243);
}
.section-noticia-five {
    background-color: rgb(248, 239, 226);
}